<% if flash[:success] %>
  <div class="card-panel green accent-1">
    <span class="green-text accent-4"><%= flash[:success] %></span>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="card-panel green accent-1">
    <span class="green-text accent-4"><%= flash[:error] %></span>
  </div>
<% end %>

<%= form_tag '/search', method: 'post', class: "col s12 m1l1" do %>
  <input type="text" name="search" placeholder="Mot clé" value="<% if @search %><%= @search %><% end %>" />
  <input type="submit" value="Rechercher" class="btn red accent-4" />
<% end %>
<div class="col s12 m12 l12">
  <% if @result %>
    <h2>Dernière recherche : <strong><%= @search %></strong></h2>
    <% if @result.length > 0 %>
      <div class="card-panel green accent-1">
        <span class="green-text accent-4">Yes (<%= @result.length %>)</span>
     </div>
    <% else %>
      <div class="card-panel red accent-1">
        <span class="red-text accent-4">No (<%= @result.length%>)</span>
      </div>
    <% end %>
    <% @result.each do |resultat| %>
      <p><%= resultat.keyword %></p>
    <% end %>
  <% end %>
</div>
<div class="col s12 m12 l12">
</div>
