<%= form_tag '/search', method: 'post', class: "col s10 offset-s1 m10 offset-m1 l10 offset-l1" do %>
  <input type="text" autofocus name="search" placeholder="Mot clé" />
  <input type="submit" value="Rechercher" class="btn red accent-4" />
<% end %>

<article class="col s10 offset-s1 m10 offset-m1 l10 offset-l1">
  <h1> <%= @keyword[:keyword] %></h1>
  <p> Nombre de mots liés: <%= @linkeds.length %> </p>
  <% @linkedKeywords.each do |linkedKeyword| %>
    <p><a href="/showkeyword/<%= linkedKeyword.first[:id]%>"> <%= linkedKeyword.first[:keyword] %> </a></p>
  <% end %>

</article>
